@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600;700;800&family=Roboto:wght@500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@500;600;700;800;900&display=swap');

:root{
    --Barlow : 'Barlow, sans-serif';
    --Fraunces :"Fraunces, serif";
}
body {
    font-family: var(--Barlow);
}
.creatives h1{
    font-family: var(--Fraunces);
}
.section-1 {
    background-image: url("../images/desktop/image-header.jpg");
    }
@media (max-width: 968px) {
    .orange {
        background-size: auto;
    }
    /* .arrow {
        width: 95%;
    } */
}
